<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employees list</title>
    <link rel="stylesheet" th:href="@{/css/assets/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/list.css}"/>

</head>
<body>
<div style="display: flex;width:100%;flex-direction: column;">

    <div class="table-wrapper-scroll-y my-custom-scrollbar right-container">
        <table class="table table-striped mb-0">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Current company</th>
                <th scope="col">Jobs</th>
                <th scope="col">Contacts</th>
                <th scope="col">Addresses</th>
                <th scope="col">Driving License</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tempEmployee : ${employees}">
                <td th:text="${tempEmployee.id}"/>
                <td th:text="${tempEmployee.firstName}"/>
                <td th:text="${tempEmployee.lastName}"/>
                <td>
                    <a class="btn btn-info btn-sm"
                       th:href="@{/showEmployeesForCompany(companyId=${tempEmployee.companies[0]})}"
                       th:if="${tempEmployee.companies != null && !tempEmployee.companies.isEmpty() }">
                        <span
                                th:text="${companyMap.get(tempEmployee.companies[0]).name}"></span>
                    </a>
                </td>
                <td>
                    <a class="btn btn-info btn-sm"
                       th:href="@{/showJobs/{employeeId}(employeeId=${tempEmployee.id})}">
                        Show jobs
                    </a>
                </td>
                <td>
                    <a class="btn btn-info btn-sm"
                       th:href="@{/showContacts/{employeeId}(employeeId=${tempEmployee.id})}">
                        Show contacts
                    </a>
                </td>
                <td>
                    <a class="btn btn-info btn-sm"
                       th:href="@{/showAddresses/{employeeId}(employeeId=${tempEmployee.id})}">
                        Show addresses
                    </a>
                </td>
                <td th:text="${tempEmployee.drivingLicense} ? 'Yes' : 'No'"/>
                <td th:if="${#lists.contains(userRoles, 'EMPLOYEE')}">
                    <a class="btn btn-info btn-sm"
                       th:href="@{/showEmployeeUpdate(employeeId=${tempEmployee.id})}">
                        Update
                    </a>
                </td>
                <td th:if="${#lists.contains(userRoles, 'ADMIN')}">
                    <a class="btn btn-danger btn-sm"
                       th:href="@{/employeeDelete(employeeId=${tempEmployee.id})}">
                        Delete
                    </a>
                </td>
            </tr>
            </tbody>

        </table>
        <a class="btn btn-primary btn-sm mb-3" th:href="@{/showEmployeeAdd}"
           th:if="${#lists.contains(userRoles, 'EMPLOYEE')}">
            Add employee
        </a>
    </div>

    <div style="display: flex;justify-content: flex-end;">
        <a class="btn btn-primary btn-sm mb-3" href="/logout" style="margin-top: 16px;">
            Logout
        </a>
    </div>

</div>
</body>
</html>