<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update employee</title>
    <link rel="stylesheet" th:href="@{/css/assets/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/update.css}"/>
</head>
<body>
<main class="form-signin">
    <form action="#" method="POST" th:action="@{/employeeUpdate}" th:object="${employee}">
        <h1 class="h3 mb-3 fw-normal">Update employee</h1>
        <input th:field="*{id}" type="hidden"/>
        <label for="firstName">
            First name
        </label>
        <div class="form-floating">
            <input class="form-control mb-4 col-4" id="firstName" placeholder="First name" th:field="*{firstName}"
                   type="text">
        </div>
        <label for="lastName">
            Last name
        </label>
        <div class="form-floating">
            <input class="form-control mb-4 col-4" id="lastName" placeholder="Last name" th:field="*{lastName}"
                   type="text">
        </div>
        <div class="form-group">
            <label for="company">Select a company</label>
            <select class="form-control" id="company" multiple th:field="*{companyId}">
                <option th:each="company : ${companies}" th:text="${company.name}" th:value="${company.id}" th:selected="${company.id} == *{companyId} "></option>
            </select>
        </div>
        <p>Driving License</p>
        <div>
            <label for="yes">Yes</label>
            <input checked id="yes" name="Driving license" type="radio" value="1" th:field="*{drivingLicense}">
            <label for="no">No</label>
            <input checked id="no" name="Driving license" type="radio" value="0" th:field="*{drivingLicense}">
        </div>
        <input class="w-100 btn btn-lg btn-primary" id="submit_button" name="SubmitButton"
               type="submit" value="Save"/>
    </form>
</main>
</body>
</html>